<p id="notice"><%= notice %></p>

<h1>Scribbles</h1>

<table>
  <thead>
    <tr>
      <th>Before image</th>
      <th>After image</th>
      <th>Requester email</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @scribbles.each do |scribble| %>
      <tr>
        <td><%= scribble.image %></td>
        <td><%= scribble.artist_email %></td>
        <td><%= link_to 'Show', scribble %></td>
        <td><%= link_to 'Edit', edit_scribble_path(scribble) %></td>
        <td><%= link_to 'Destroy', scribble, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Scribble', new_scribble_path %>
