<p id="notice"><%= notice %></p>

<p>
  <strong>Image:</strong>
  <%= @scribble.image %>
</p>

<p>
  <strong>Requester email:</strong>
  <%= @scribble.artist_email %>
</p>

<%= link_to 'Edit', edit_scribble_path(@scribble) %> |
<%= link_to 'Back', scribbles_path %>
